

.main-flexbox{
    display: flex;
    flex-direction: column;
    margin: 10px;

}

.main-text{
    font-size: 2rem;
    color: rgb(57, 101, 245);
    font-weight: bold;
    text-align: center;
    
}
.minor-text{
    font-size: 1rem;
    color: rgb(51, 141, 141);
}

.social-section{
    text-align: center;
}
.social-list{
    display: flex;
    justify-content: center;
}

#home-img{
    width: 100%;
}