
body{
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    min-width: 600px;
}

main{
    max-width: 1200px;
    margin: auto;
}

/*------------------------------- HEADER CSS ----------------------------------------------*/

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;

    width: 100%;
    margin: auto;
    min-height: 120px;
    background-color: rgb(232, 241, 253);
}

.popout-header{
    box-shadow: 5px 0px 10px black;
}

.banner{
    width: 100%;
    background-color: rgb(117, 117, 218);

    color: white;
    text-align: center;

    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px;
}

nav{
    display: flex;
    flex-flow: row wrap;
    min-height: 90px;
    margin: auto;
    max-width: 1300px;
    justify-content: space-around;
    align-items: center;
}
ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    min-width: 300px;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
}
@media (max-width: 550px){
    ul{
        padding: 0px 0px 10px 0px;
    }
}

h1{
    padding: 0px;
    margin: 0px;
}

#company-name{
    color:rgb(117, 117, 218);
    font-size: 2rem;
}

@media (max-width: 550px){
    #company-name{
        font-size: 1.8rem;
    }
}

/*---------------------------------- Footer ------------------------------------------*/
footer{
    width: 100%;
    text-align: center;
    padding: 10px; 
    background-color:rgb(218, 218, 255);
}