:root {
    /*
    --background: #dfc662;
    --secondarybackground: #e4e459;
    --accentcolor: #f140aa;
    */
    --background: rgb(240, 240, 240);
    --secondarybackground: rgb(230, 230, 230);

    --primarycolor: #d63b4b;
    --secondarycolor: rgb(57, 69, 185);
    --accentcolor: #dfc662;
    --headertext: "Dosis", arial, sans-serif;
    --maintext: "Montserrat", verdana, sans-serif;

}
/*---------------------- Basics --------------------*/
html {
    box-sizing: border-box;
    font-family: var(--maintext);
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3 {
    margin: 0;
    color: var(--primarycolor);
    font-family: var(--headertext);
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

body{
    margin: 0;
    padding: 0;

    font-family: var(--maintext);
    background: linear-gradient(0deg, var(--secondarybackground) 0%, var(--background) 100%);
}

main{
    max-width: 1200px;
    margin: 30px auto;
    padding: 0px 20px;
}
/*--------------------------------- Navigation --------------------------------------*/
a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: white;
    border-bottom: white solid 2px;
}

a:active{
    color: white;
}

.current-page{
    border-bottom: white solid 2px;
}

nav{
    display: flex;
    flex-flow: row wrap;
    min-height: 60px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondarycolor);
}

@media (max-width: 550px){
    nav{
        padding: 10px 0px;
    }
}

ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    min-width: 300px;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
}
@media (max-width: 550px){
    ul{
        margin: 10px 0px;
    }
}

li{
    margin: 0px 10px;
}

/*------------------------------- HEADER CSS ----------------------------------------------*/

.popout-header{
    position: sticky;
    top: -30px;
    box-shadow: 5px 0px 10px black;
}

.banner{
    background-color: var(--accentcolor);
    color: white;
    text-align: center;

    max-height: 30px;

    font-size: 1rem;
    font-weight: bold;
    padding: 5px;
}

h1{
    padding: 0px;
    margin: 0px;
}

#company-name{
    font-size: 1.5rem;
}

@media (max-width: 550px){
    #company-name{
        font-size: 1rem;
    }
}

/*------------------------------ Main --------------------------------------------*/
#home-image {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    max-width: 1000px;
}

.main-flexbox{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.main-text{
    font-size: 2rem;
    text-align: center;
}

.minor-text{
    font-size: 1.2rem;
    color: var(--secondarycolor);
}

.social-section{
    text-align: center;
}
.social-list{
    display: flex;
    justify-content: center;
}

#home-img{
    width: 100%;
}

/*--------------------------------- Item Info -------------------------------*/
.item-info{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    max-width: 300px;
}

.item-name{
    width: 100%;
    text-align: center;
    color: rgb(0, 100, 200);
    font-weight: bold;
    margin-bottom: 10px;
}

.item-description{
    flex-basis: 66%;
    flex-shrink: 1;
}

.item-cost{
    font-weight: bold;
    color: red;
    flex-basis: 33%;
    flex-shrink: 2;
    text-align: end;
}

/*--------------------------------- Item Grids-------------------------------*/

.section-header{
    text-align: center;
    font-size: 1.8rem;
    border-bottom: solid 3px var(--secondarycolor);
    padding: 10px 0px;
    margin: 20px;
}

.item-image>img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--accentcolor);
}

.item-grid{
    display: grid;
    grid-template-columns: repeat(1, minmax(10px, 1fr));
    justify-items: center;
    gap: 20px;
}

@media (min-width: 700px){
    .item-grid{
        grid-template-columns: repeat(2, minmax(10px, 1fr));

    }

}
@media (min-width: 1000px){
    .item-grid{
        grid-template-columns: repeat(3, minmax(10px, 1fr));
    }
}


/*---------------------------------- Footer ------------------------------------------*/
footer{
    text-align: center;
    padding: 10px; 
    background-color: var(--secondarycolor);
    color: white;
}