:root {
    /*
    --background: #dfc662;
    --secondarybackground: #e4e459;
    --accentcolor: #f140aa;
    */
    --background: rgb(240, 240, 240);
    --secondarybackground: rgb(230, 230, 230);

    --primarycolor: #d63b4b;
    --secondarycolor: rgb(57, 69, 185);
    --accentcolor: #dfc662;
    --headertext: "Dosis", arial, sans-serif;
    --maintext: "Montserrat", verdana, sans-serif;

}
/*---------------------- Basics --------------------*/
html {
    box-sizing: border-box;
    font-family: var(--maintext);
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3 {
    margin: 0;
    color: var(--primarycolor);
    font-family: var(--headertext);
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

body{
    margin: 0;
    padding: 0;

    font-family: var(--maintext);
    background: linear-gradient(0deg, var(--secondarybackground) 0%, var(--background) 100%);
}

main{
    max-width: 1200px;
    margin: 30px auto;
    padding: 0px 20px;
}