
:root {
    --text-major: "Dosis", arial, sans-serif;
    --text-main: "Montserrat", verdana, sans-serif;

    --background: rgb(248, 248, 242);
    --secondarybackground: rgb(230, 230, 230);

    --primarycolor: #df3f4f;
    --secondarycolor: #3541ad;
    --accentcolor: #fabc36;
    /*
    --primarycolor: #d63b4b;
    --accentcolor: rgb(57, 69, 185);
    --secondarycolor: #fabc36;
    */

    --font-size: 1.3rem;
}

/* General */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--background);

    font-family: var(--text-main);
    font-size: var(--font-size)

}

h1, h2, h3 {
    margin: 0;
}

a {
    color: var(--accentcolor)
}

a:hover {
    color: var(--primarycolor);
}

/* Navigation */

.banner {
    text-align: center;
    margin: 0 auto;
    padding: 0.225rem;
    font-size: 70%;
    background-color: var(--accentcolor);
}

nav {
    padding: 0.5rem;

}

.nav-container {
    background-color: var(--secondarycolor);
}

nav ul, footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    row-gap: 0.5rem;
    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    display: block;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
    font-size: 120%;
}
.company-name {
    font-family: var(--text-major);
    font-size: 2.5rem;
    color: var(--primarycolor);
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

@media (min-width: 850px){
    nav {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
    }
    nav li:first-child {
        text-align: left;
        flex-basis: auto;
        margin-right: auto;
        font-size: 250%;
    }
    nav ul {
        column-gap: 2rem;
    }

    .company-name {
        font-size: 2rem;
    }

}


/* Main */

.main-flexbox {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    padding: 2rem;
}

#home-image {
    width: 100%;
    max-width: 1200px;

    border-radius: 10px;
}


.main-text {
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.main-text h2 {
    font-family: var(--text-major);
    font-size: 3rem;
    color: var(--primarycolor);
    text-shadow: 0 0 1px black, 0 0 1px black , 0 0 1px black , 0 0 1px black;
}

/* Item Grid */
.section-header{
    text-align: center;
    font-size: 1.8rem;
    border-bottom: solid 3px var(--secondarycolor);
    padding: 10px 0px;
    margin: 20px;
}

.item-section{
    max-width: 1200px;
    margin: 0 auto;
}

.item-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    gap: 30px;
}

@media (max-width: 1200px){
    .item-grid{
        justify-content: space-between;
    }
    .item-section{
        max-width: 800px;
    }
}

@media (max-width: 800px){
    .item-grid{
        justify-content: center;
    }
    .item-section{
        max-width: 400px;
    }
}

/* Item Figures */

.item-image img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--accentcolor);
}

.item-info{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    max-width: 300px;
}

.item-name{
    width: 100%;
    text-align: center;
    color: rgb(0, 100, 200);
    font-weight: bold;
    margin-bottom: 10px;
}

.item-description{
    flex-basis: 80%;
    flex-shrink: 1;
}

.item-cost{
    font-weight: bold;
    color: red;
    flex-basis: 20%;
    flex-shrink: 2;
    text-align: end;
}

/* Footer */
footer {
    text-align: center;
}

.section-socials h2 {
    padding: 10px 0px;
}